# PHPMD configuration, see https://phpmd.org/documentation/creating-a-ruleset.html
name: "Maarsson's PHPMD ruleset"
description: 'Shared PHPMD ruleset used across Maarsson projects'
exclude-pattern:
  - '_ide_helper*.php'
  - server.php
  - 'bootstrap/cache/*'
  - 'node_modules/*'
  - 'public/*'
  - 'resources/views/**/*.blade.php'
  - 'storage/*'
  - 'vendor/*'
rules:
  - ref: rulesets/cleancode.xml
    exclude:
      - StaticAccess
      - BooleanArgumentFlag
      - ElseExpression
  - ref: rulesets/controversial.xml
    exclude:
      - CamelCaseClassName
      - CamelCasePropertyName
      - CamelCaseMethodName
      - Superglobals
  - ref: rulesets/design.xml
    exclude:
      - DevelopmentCodeFragment
      - ExitExpression
      - NumberOfChildren
      - CouplingBetweenObjects
  - ref: rulesets/design.xml/DevelopmentCodeFragment
    properties:
      unwanted-functions: 'dd,dump'
      ignore-namespaces: 'true'
  - ref: rulesets/design.xml/CouplingBetweenObjects
    properties:
      maximum: 31
  - ref: rulesets/codesize.xml/NPathComplexity
  - ref: rulesets/codesize.xml/ExcessiveMethodLength
  - ref: rulesets/codesize.xml/ExcessiveParameterList
  - ref: rulesets/codesize.xml/ExcessiveClassComplexity
  - ref: rulesets/naming.xml
    exclude:
      - BooleanGetMethodName
      - ConstantNamingConventions
      - ConstructorWithNameAsEnclosingClass
      - LongClassName
      - LongMethodName
      - LongVariable
      - ShortMethodName
      - ShortVariable
  - ref: rulesets/naming.xml/LongClassName
    properties:
      maximum: 40
      subtract-suffixes: Job
  - ref: rulesets/naming.xml/LongVariable
    properties:
      maximum: 36
      subtract-suffixes: 'Action,Attribute'
  - ref: rulesets/naming.xml/ShortMethodName
    properties:
      minimum: 3
      exceptions: 'db,up'
  - ref: rulesets/naming.xml/ShortVariable
    properties:
      exceptions: 'id,to,i,db'
  - ref: rulesets/unusedcode.xml
    exclude:
      - UnusedFormalParameter
